# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
ENV/
env/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# personal utility file
scrap.md
test_me.py
processing/
data/

# PyCharm / JetBrains IDE files
.idea/
*.iml